.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adjust as needed */
  background-color: #a3e3f7; /* Example background color */
}

.logo {
  font-size: 24px; /* Adjust as needed */
  font-weight: bold;
}

.online-store {
  display: block;
  font-size: 12px; /* Adjust as needed */
  color: #777; /* Example color */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px; /* Adjust spacing between links */
}

.nav-links li a {
  text-decoration: none;
  color: #333; /* Example link color */
  font-size: 16px; /* Adjust as needed */
}

.arrow-down {
  font-size: 0.8em; /* Adjust as needed */
  margin-left: 5px;
}

.icons {
  display: flex; /* To align icons horizontally */
  align-items: center;
}

.icons a {
  margin-left: 15px; /* Adjust spacing between icons */
  font-size: 20px; /* Adjust icon size */
  color: #555; /* Example icon color */
  text-decoration: none; /* Remove underlines from icons */
}